.intro {
  box-sizing: border-box;
  margin: 0 auto 82px auto;
  max-width: 1280px;
  padding: 0 148px;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 0 78px 0;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin: 0 0 53px 0;
    padding: 0 16px;
  }
}
