.lead__caption {
  box-sizing: border-box;
  color: #ffffff;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 148px;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .lead__caption {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    padding: 0 16px;
  }
}
